
/*css reset*/
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono','sans-serif';
}
*{
    box-sizing: border-box;
}

.section1 {
    background-color: #eaeaea;
    border-bottom: 1px solid #c1c1c1;
    overflow: auto;
}

.section2 {
    background-color: #fff;
    border-bottom: 1px solid #c1c1c1;
    overflow: auto;
}

.main-container {
    width: 70%;
    margin: 0 auto;
}

.intro-wrapper {
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 5px 5px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 1px solid #c1c1c1;
    background-color: #eaeaea;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .nav-wrapper a {
        list-style: none;
        text-decoration: none;
        margin: 0px 15px 0px 5px;
        color: #1a7cd2;
    }

.greeting-wrapper {
    display: grid;
    min-height: 20em;
    justify-content: center;
    align-content: center;
}

    .greeting-wrapper h1 {
        font-size: 2em;
        text-align: center;
    }

.left-column {
    grid-area: left-column;
    padding: 50px;
}

#profile {
    height: 16em;
    border :1px solid #17a2b8;
    display: block;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 10px grey;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    justify-content: center;
}

#infos {
    width: 450px;
    border: 1.5px solid#17a2b8;
    background-color: rgba(251,249, 243, 0.8);
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 15px grey;
}

    #infos p {
        margin: 10px 0px;
    }


.about-me {
    grid-area: about-me;
    margin-right: 30px;
    border: 1.5px solid#17a2b8;
    padding: 15px;
    background-color: rgba(251,249, 243, 0.8);
    border-radius: 10px 10px 10px 10px;
}

    .about-me p {
        text-align: justify;
    }

.about-wrapper {
    display: grid;
    padding: 50px 0px 50px 0px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'about-me skills'
}

.menu {
    display: grid;
    grid-area:menu;
    grid-template-columns: auto;
    grid-gap: 3%;
    grid-template-areas: 
        'database parallel test algorythm'
        'menu-items menu-items menu-items menu-items';
}
ul {
    list-style: none;
    line-height: 2em;
}

.menu-items{
    grid-area:menu-items;
}

.keywords-wrapper {
    margin:30px 0px;
    border: 1.5px solid#17a2b8;
    padding: 15px;
    background-color: rgba(251,249, 243, 0.8);
    border-radius: 10px 10px 10px 10px;
}

    .keywords-wrapper ul {
        line-height: 2.5em;
        letter-spacing: 1px;
    }

#database, #parallel, #test, #algorythm {
    margin: 0;
}
.database {
    grid-area: database;
}

.parallel{
    grid-area: parallel;
}

.test{
    grid-area:test;
}

.algorythm {
    grid-area: algorythm;
}

.collapsible {
    background-color: rgba(234,221,184,1);
    cursor: pointer;
    padding: 18px;
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid #17a2b8;
    text-align: left;
    display: inline-block;
}

.post-text p{
    height: 7em;
}

.active.collapsible:after {
    content: "\2212";
}

.collapsible:hover {
    background-color: aliceblue;
}

.collapsible::after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

#adatbazis {
    margin: 0;
}

#skills {
    background-color: rgba(251,249, 243, 0.8);
    grid-area: skills;
    min-width: 320px;
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid #17a2b8;
}

    #skills h3 {
        text-align: center;
        padding: 1em;
        margin-bottom: 0px;
    }

    #skills img {
        width: 3em;
        height: auto;
        margin: 10px;
    }

.skills-content {
    display: flex;
}

    .skills-content ul {
        width: 50%;
        list-style: none;
        padding: 0;
    }

        .skills-content ul li {
            text-align: center;
        }

.social {
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 1.2rem 0px;
}

    .social img {
        max-width: 7%;
        height: auto;
    }


.post {
    border: 1px solid#17a2b8;
    box-shadow: 0px 0px 7px grey;
    display: grid;
    text-align: center;
}

.thumbnail {
    width: 100%;
    height: 250px;
    display: block;
}

.post-text {
    background-color: rgba(251,249, 243, 0.8);
    padding: 15px;
}

    .post-text a {
        list-style: none;
        text-decoration: none;
        color: #1a7cd2;
        margin: 37.5%;
    }


.post-title {
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 16px;
    margin-bottom: 3rem;
}

.show {
    display: block;
}

.unshow {
    display: none;
}
.contact-content{
    margin: 1.2rem 0;
    text-align: center;
}
.contact-content input, textarea{
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    width: 30rem;
    background-color: rgba(251,249, 243, 0.8);
    border: 1px solid#17a2b8;
}

.contact-content button{
    background-color: rgba(234,221,184,1);
    border-radius: 10px 10px 10px 10px;
    padding: 12px 16px;
    border: 1px solid#17a2b8;
    color: #1a7cd2;
}
.grid{
    display: grid;
    align-content: center;
    justify-content: center;
}

.social-content {
    display: flex;
    margin: 5px;
}

    .social-content img {
        margin-right: 30px;
    }

    .social-content a {
        list-style: none;
        text-decoration: none;
        color: #1a7cd2;
    }

    .hi-slide {
        position: relative;
        height: 650px;
        margin: 0px 3%;
      }
  
      .hi-slide .hi-next,
      .hi-slide .hi-prev {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        border-radius: 50px;
  
  
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
        color: black;
        transition: all 0.6s;
        font-size: 20px;
        font-weight: bold;
      }
  
      .hi-slide .hi-next:hover,
      .hi-slide .hi-prev:hover {
        opacity: 1;
        background-color: #fff;
      }
  
      .hi-slide .hi-prev {
        left: -60px;
      }
  
      .hi-slide .hi-prev::before {
        content: '<';
      }
  
      .hi-slide .hi-next {
        right: -60px;
      }
  
      .hi-slide .hi-next::before {
        content: '>';
      }
  
      .hi-slide>ul {
        list-style: none;
        /* position: relative;
        width: 754px;*/
        height: 600px;
        margin: 0;
        padding: 0;
      }
  
  
      .hi-slide>ul>li {
        overflow: hidden;
        position: absolute;
        z-index: 0;
        left: 377px;
        top: 146px;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        border: 1px solid #17a2b8;
        cursor: pointer;
      }
  
      .hi-slide>ul>li>div {
        width: 100%;
        height: 100%;
        background-position: center;
      }


@media screen and (max-width:1500px) {
    #infos {
        width: 390px;
    }
}


@media screen and (max-width:1277px) {
    .about-wrapper {
        display: block;
    }

    .about-me {
        margin: 0;
    }

    .intro-wrapper {
        grid-template-columns: 0.5fr 1fr;
    }

    .left-column {
        padding: 25px 10px;
        justify-self: center;
    }

    #profile {
        margin: 0 10px;
    }

    #infos {
        width: 350px;
    }

    #skills {
        margin-top: 30px;
    }
    #skills img{
        width:4em;
    }
}

@media screen and (max-width:980px) {
    .intro-wrapper {
        display: block;
    }

    #infos {
        margin-bottom: 25px;
    }

    #profile {
        margin: 0 auto;
    }

    .greeting-wrapper h1{
        font-size: 1.7em;
    }
}

@media screen and (max-width:940px) {
    .menu {
        display: block;
    }
}

@media screen and (max-width:700px) {
    .greeting-wrapper h1{
        font-size: 1.5em;
    }
}

@media screen and (max-width:600px) {
    #infos {
        width: 250px;
    }

    #skills img {
        max-width: 30%;
    }
    .contact-content input, textarea{
        width: 20rem;
    }

    .greeting-wrapper h1{
        font-size: 1.1em;
    }
}

@media screen and (max-width:430px) {
    #skills {
        min-width: unset;
    }

        #skills img {
            max-width: 45%;
        }

    #infos {
        width: 180px;
    }
    .contact-content input, textarea{
        width: 20rem;
    }
    .keywords-wrapper ul{
        letter-spacing: 0.5px;
        padding-left: 12px;
    }
}

@media screen and (max-width:360px) {
    #infos {
        padding: 3px;
    }

    .post-wrapper {
        grid-template-columns: repeat(auto-fit,250px);
    }

    #contact {
        font-size: 1.3em;
    }

    .social-content img {
        margin: 10px;
    }

    .social-content p {
        font-size: 0.9em;
    }

    .post-text p{
        height: 10em;
    }

    .contact-content input, textarea{
        width: 12rem;
    }

    #profile{
        width: -webkit-fill-available;
    }

    .about-me{
        padding:7px;
    }
}
