
/*css reset*/
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono','sans-serif';
}

.section1 {
    background-color: #eaeaea;
    border-bottom: 1px solid #c1c1c1;
    overflow: auto;
}

.section2 {
    background-color: #fff;
    border-bottom: 1px solid #c1c1c1;
    overflow: auto;
}

.main-container {
    width: 70%;
    margin: 0 auto;
}

.intro-wrapper {
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 5px 5px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 1px solid #c1c1c1;
    background-color: #eaeaea;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .nav-wrapper a {
        list-style: none;
        text-decoration: none;
        margin: 0px 15px 0px 5px;
        color: #1a7cd2;
    }

.greeting-wrapper {
    display: grid;
    min-height: 20em;
    justify-content: center;
    align-content: center;
}

    .greeting-wrapper h1 {
        font-size: 2em;
    }

.left-column {
    grid-area: left-column;
    padding: 50px;
}

#profile {
    width: 181px;
    height: 247px;
    border: 2px solid #c1c1c1;
    display: block;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    justify-content: center;
}

#infos {
    width: 450px;
    border: 1.5px solid#17a2b8;
    background-color: rgba(251,249, 243, 0.8);
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

    #infos p {
        margin: 10px 0px;
    }


.about-me {
    grid-area: about-me;
    margin-right: 30px;
}

.about-wrapper {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));*/
    padding: 50px 0px 50px 0px;
    grid-template-columns: 1fr;
    grid-template-areas: 'about-me skills';
}

#skills {
    background-color: #f0ead6;
    grid-area: skills;
    min-width: 320px;
}

    #skills h4 {
        text-align: center;
    }

    #skills img {
        max-width: 25%;
        height: auto;
        margin: 10px;
    }

.skills-content {
    display: flex;
}

    .skills-content ul {
        width: 50%;
        list-style: none;
        padding: 0;
    }

        .skills-content ul li {
            text-align: center;
        }

.social {
    display: grid;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}

    .social img {
        max-width: 7%;
        height: auto;
    }

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid #c1c1c1;
}

.thumbnail {
    width: 100%;
    height: 180px;
    display: block;
    object-fit: contain;
}

.post-text {
    background-color: #fff;
    padding: 15px;
}

    .post-text a {
        list-style: none;
        text-decoration: none;
        color: #1a7cd2;
        margin: 37.5%;
    }


.post-title {
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 16px;
}

.social-content {
    display: flex;
    margin: 5px;
}

    .social-content img {
        margin-right: 30px;
    }

    .social-content a {
        list-style: none;
        text-decoration: none;
        color: #1a7cd2;
    }

@media screen and (max-width:1500px) {
    #infos {
        width: 390px;
    }
}

@media screen and (max-width:1270px) {
    .about-wrapper {
        display: block;
    }

    .intro-wrapper {
        grid-template-columns: 0.5fr 1fr;
    }

    .left-column {
        padding: 25px 10px;
        justify-self: center;
    }

    #profile {
        margin: 0 10px;
    }

    #infos {
        width: 350px;
    }
}

@media screen and (max-width:900px) {
    .intro-wrapper {
        display: block;
    }

    #infos {
        margin-bottom: 25px;
    }

    #profile {
        margin: 0 auto;
    }
}

@media screen and (max-width:600px) {
    #infos {
        width: 250px;
    }

    #skills img {
        max-width: 30%;
    }
}

@media screen and (max-width:430px) {
    #skills {
        min-width: unset;
    }

        #skills img {
            max-width: 45%;
        }

    #infos {
        width: 180px;
    }
}

@media screen and (max-width:360px) {
    #infos {
        padding: 3px;
    }

    .post-wrapper {
        grid-template-columns: repeat(auto-fit,250px);
    }

    #contact {
        font-size: 1.3em;
    }

    .social-content img {
       margin:10px;
    }

    .social-content p{
        font-size: 0.9em;
    }
}
