@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

    * {
        box-sizing: border-box;
        font-weight: 100!important;
    }
    html, body {
        padding: 0;
        margin: 0;
        background-color: #eaeaea;
        font-family: 'Montserrat', sans-serif;
    }
    h1,h2, h3{
        font-weight: 700!important;
    }

    .section1 h3,h4 {
        display: inline;
        padding-bottom: 5px;
    }

        .section1 p{
            text-align:justify;
            padding:5px;
        }
.main-container {
    width: 77%;
    margin: 10px auto;
}

#ytsection {
    text-align: center;
    height: auto;
    width: 100%;
    grid-template-rows: auto auto;
}


.responsive-iframe {
    position: relative;
    width: 100%;
    min-height:400px;
}
.show{
    display:block;
}

.unshow, .mySlides{
    display:none;
}

.link-wrapper{
    width:25%;
}

.link-wrapper p{
    margin:0;
    padding:0;
}

.close-wrapper {
    grid-area: 1/1;
    float: right;
    margin: 0px 20px;
}

.close-wrapper img{
    width:25px;
    height:40px;
    cursor:pointer;
}

#lw1 {
    grid-area: 1/1;
    align-self: center;
    justify-self: center;
}

#lw2 {
    grid-area: 1/2;
    align-self: center;
    justify-self: center;
}

#lw3 {
    grid-area: 1/3;
    justify-self: flex-end;
    align-self: center;
}
.nav-wrapper {
    display: grid;
    grid-template-columns: auto auto 0.8fr;
    font-size: larger;
}
    .nav-wrapper a {
        list-style: none;
        text-decoration: none;
        color: #1a7cd2;
    }
    .nav-wrapper img {
        width: 30px;
        height: 50px;
        cursor:pointer;
    }

#skills {
    width: 128%;
    margin: 16px 0px;
    border: 1.5px solid#17a2b8;
    padding: 15px;
    background-color: rgba(251,249, 243, 0.8);
    border-radius: 10px 10px 10px 10px;
}

    #skills img,span {
        width: 5em;
        height: auto;
        margin: 10px;
    }

.skills-content {
    display: flex;
}

    .skills-content ul {
        width: 50%;
        list-style: none;
        padding: 0;
    }

        .skills-content ul li,span {
            text-align: center;
        }

#lok_sprite_1, #lok_sprite_2, #lok_sprite_3,#lok_sprite_4{
    background : url('../ProjectLOK/images/lok_sprite.png') !important;
    width: 80px;
    height: 80px;
    display: inline-block;
}

#lok_sprite_1{
    background-position: -110px -10px !important;
}
#lok_sprite_2{
    background-position: -10px -110px !important;
}
#lok_sprite_3{
    background-position:  -10px -10px !important;
}
#lok_sprite_4{
    background-position: -110px -110px !important;
}

#prog3_sprite_1, #prog3_sprite_2, #prog3_sprite_3, #prog3_sprite_4, #prog3_sprite_5{
    background : url('../ProjectProg3/images/prog3_sprite.png') !important;
    width: 80px;
    height: 80px;
    display: inline-block;
}
#prog3_sprite_1{
    background-position: -110px -110px !important;
}
#prog3_sprite_2{
    background-position: -210px -10px !important;
}
#prog3_sprite_3{
    background-position:  -110px -10px !important;
}
#prog3_sprite_4{
    background-position: -10px -110px !important;
}
#prog3_sprite_5{
    background-position: -10px -10px !important;
}

#car_sprite_1, #car_sprite_2, #car_sprite_3{
    background : url('../ProjectCarDealerShip/images/car_sprite.png') !important;
    width: 80px;
    height: 80px;
    display: inline-block;
}
#car_sprite_1{
    background-position: -10px -110px !important;
}
#car_sprite_2{
    background-position: -110px -10px !important;
}
#car_sprite_3{
    background-position:  -10px -10px !important;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 50px auto;
    border: 1.5px solid;
}

.slideshow-container img{
    width:100%;
    max-height:750px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #1a7cd2;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}



.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }

    .skills-content{
        display: block;
    }

    .skills-content ul{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #lw3 a{
        font-size:0.7em;
    }
}

@media only screen and (max-width: 450px) {
    #lw3 a {
        font-size: 0.54em;
    }

    #lw1, #lw2 {
        justify-self: flex-start;
    }
}
